body {
  font-family: Arial;
  background-color: #444444;
}
canvas {
  margin: 5px;
  border-radius: 2px;
}

.true {
  border-color: #6cb081;
}

.false {
  border-color: #9a4f4f;
}

.true, .false {
  float: left;
  background-color: #3d495ac2;
  margin: 5px;
  padding: 5px;
  padding-bottom: 0px;
  border-style: solid;
  position: relative;
  border-radius: 2px;
}

.true canvas, .false canvas {
  margin: 0;
  margin-right: 5px;
}

.true canvas:nth-child(5), .false canvas:nth-child(5) {
  margin-right: 0;
}

.true canvas:hover, .false canvas:hover {
  transform: scale(2.5)
}

.result-status {
  width: 10px;
  height: 10px;
  background-color:white;
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 2px;
}

#export-logs {
  width: 100px;
  height:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57ec84;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
}
