@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #191b1d;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

canvas {
  margin: 5px;
  border-radius: 2px;
  background-color: #2a2a38;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track-piece {
  background-color: #bd5213;
}

::-webkit-scrollbar-thumb {
  background-color: #ff7600;
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: #415153;
}

#visualize-data-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efa700+0,c63e00+100 */
  background: #efa700;
 /* Old browsers */
  background: -moz-linear-gradient(top, #efa700 0%, #c63e00 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #efa700 0%,#c63e00 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efa700 0%,#c63e00 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa700', endColorstr='#c63e00',GradientType=0 );
 /* IE6-9 */
  padding: 40px;
  padding-top: 450px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: relative;
}

.true, .false {
  float: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7c2b+0,e05e26+100 */
  background: #ff7c2b;
 /* Old browsers */
  background: -moz-linear-gradient(top, #ff7c2b 0%, #e05e26 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff7c2b 0%,#e05e26 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff7c2b 0%,#e05e26 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c2b', endColorstr='#e05e26',GradientType=0 );
 /* IE6-9 */
  margin-right: 10px;
  padding: 5px;
  position: relative;
  border-radius: 2px;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.result-status {
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 2px 2px 0 0;
}

#test-image-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151f20+0,2e5446+100 */
  background: #151f20;
 /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151f20 0%, #2e5446 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151f20 0%,#2e5446 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151f20 0%,#2e5446 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151f20', endColorstr='#2e5446',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
  padding: 30px;
  font-size: 8px;
  color: #ffffff;
  width: 100%;
}

#test-image-container > div {
  display: block;
  overflow: hidden;
  margin-left: 10px;
  padding-bottom: 30px;
}

#test-image-container > div > div {
  float: left;
  overflow: hidden;
  padding: 0px;
  margin-right: 10px;
  width: calc(100vw / 30);
  height: 300px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.image-bar {
  position: absolute;
}

#test-image-container > div > div > div > img {
  position: absolute;
  pointer-events: none;
  width: calc(100vw / 40);
  top: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

#test-image-container > div > div > div:hover > img {
  opacity: 1;
}

#test-image-container > div > div > div {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
  background-color: #365d50;
}

#test-image-container > div > div > div:hover canvas {
  opacity: 0;
}

#test-image-container .image-bar {
}

#test-image-container .selected {
  opacity: 1 !important;
}

#test-image-container .selected img {
  opacity: 0 !important;
}

#test-image-container canvas {
  border-radius: 0;
  margin: 0;
  margin-bottom: 0;
  position: relative;
}

#test-image-container > div > canvas {
  float: left;
  margin-right: 40px;
  border-radius: 2px;
  margin-bottom: 20px;
  width: calc(100vw - 90px);
}

#box, .box {
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
  color: #1fdd9e;
  pointer-events: none;
  z-index: 10000;
  opacity: 0;
}

.button {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d86400;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
}

#export-network {
}

#export-logs {
}

#title {
  position: absolute;
  z-index: 100;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title > h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 80px;
}

#title > h2 {
  width: 400px;
  text-align: center;
  color: #ffdd8f;
  font-size: 20px;
}

#export-data {
  margin: 40px;
  margin-left: 35px;
  background-color: #ff8100;
}

h1 {
  color: #afb5c4;
  font-size: 30px;
  margin-left: 10px;
}

#visualize-data-container > h1 {
  position: absolute;
  padding: 0px;
  left: 30px;
  bottom: 175px;
  color: #fff8dd;
}

#stat-container {
  padding: 30px;
  color: #9bacca;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282c30+0,151719+100 */
  background: #282c30;
 /* Old browsers */
  background: -moz-linear-gradient(top, #282c30 0%, #151719 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #282c30 0%,#151719 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #282c30 0%,#151719 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282c30', endColorstr='#151719',GradientType=0 );
 /* IE6-9 */
}

#stat-container .button {
  color: #fff;
}

#stat-container > h2 {
  color: #d19c22;
  margin-left: 10px;
  font-size: 19px;
}

#stat-container .bar {
  margin-left: 10px;
  height: 30px;
  width: calc(100% - 40px);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252a2f+0,3a4949+100 */
  background: #252a2f;
 /* Old browsers */
  background: -moz-linear-gradient(left, #252a2f 0%, #3a4949 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #252a2f 0%,#3a4949 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #252a2f 0%,#3a4949 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252a2f', endColorstr='#3a4949',GradientType=1 );
 /* IE6-9 */
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
}

#status {
  margin-left: 10px;
}

#stat-container .text {
  padding-left: 20px;
  height: 100%;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 2;
  font-size: 13px;
  color: #ffffff;
}

#stat-container .progress1 {
  z-index: 1;
  transition: width 2s;
  position: absolute;
  width: 1%;
  height: calc(100% - 10px);
  border-radius: 2px;
  margin: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d63f19+0,fc8c2a+100 */
  background: #d63f19;
 /* Old browsers */
  background: -moz-linear-gradient(left, #d63f19 0%, #fc8c2a 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #d63f19 0%,#fc8c2a 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #d63f19 0%,#fc8c2a 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d63f19', endColorstr='#fc8c2a',GradientType=1 );
 /* IE6-9 */
}

#stat-container .progress2 {
  transition: width 2s;
  position: absolute;
  width: 1%;
  height: calc(100% - 10px);
  border-radius: 2px;
  margin: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032549+0,00b285+100 */
  background: #032549;
 /* Old browsers */
  background: -moz-linear-gradient(left, #032549 0%, #00b285 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #032549 0%,#00b285 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #032549 0%,#00b285 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032549', endColorstr='#00b285',GradientType=1 );
 /* IE6-9 */
}

.clean {
  display: none;
}

#gathered-data {
  padding: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a4242+0,151719+100 */
  background: #0a4242;
 /* Old browsers */
  background: -moz-linear-gradient(left, #0a4242 0%, #151719 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0a4242 0%,#151719 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0a4242 0%,#151719 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4242', endColorstr='#151719',GradientType=1 );
 /* IE6-9 *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a4242+0,151719+100 */
  background: #0a4242;
 /* Old browsers */
  background: -moz-linear-gradient(left, #0a4242 0%, #151719 100%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0a4242 0%,#151719 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0a4242 0%,#151719 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4242', endColorstr='#151719',GradientType=1 );
 /* IE6-9 */
}

#gathered-data > h2 {
  width: 100vw;
  color: #d19c22;
  margin-left: 10px;
  font-size: 19px;
}

#gathered-data > h2, #gathered-data > .button {
  display: none;
}

#export-data {
  margin-left: 10px;
  color: white;
  background-color: #00a982;
  margin-top: 20px;
}

#positives, #negatives {
  margin-left: 10px;
  width: 100%;
  flex-wrap: wrap;
}

#positives > .data-wrapper {
  color: #32a681;
  background-color: #32a681;
}

#negatives > .data-wrapper {
  color: #cc5c40;
  background-color: #cc5c40;
}

#positives > .data-wrapper, #negatives > .data-wrapper {
  width: 25px;
  display: flex;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  float: left;
  margin-right: 5px;
  margin-bottom:5px;
  cursor: pointer;
}

.data-wrapper-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-wrapper-cover > img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.data-wrapper {
  height: 25px;
}

.data-wrapper:hover img {
  opacity: 1;
}

.data-wrapper > canvas {
  width: 25px;
  height: 25px;
  margin: 0px;
}

.data-wrapper > canvas:hover {
  opacity: 0;
}
